$darkPurple: linear-gradient(45deg, #2A2C44, #1C1E30);
$purple: #9C3CA2;
$lightPurple2: #353058;
$lightPurple: rgba(85, 69, 140, 0.2);
$lightText: rgba(196, 188, 255, 0.65);
$darkText: rgba(196, 188, 255, 0.2);
