<v-layout row class="dialog-list">
  <v-flex xs12>
    <v-list subheader>
      <v-list-item
        v-for="(channel, key) in getChannelList()"
        :key="key"
        ripple
        :to="`/channel/${channel.id}`"
      >
        <v-list-item-avatar>
          <img src="https://placeimg.com/40/40/people/1" alt="ava"/>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-html="nameDialog(channel.name)"/>
          <v-list-item-subtitle
            v-html="channel.messages.length ? channel.messages[channel.messages.length - 1].text : ''"
          >
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-flex>
</v-layout>
