<div class="chat">
  <ListMessage/>
  <form @submit.prevent="sendForm">
    <v-layout>
      <v-flex xs12>
        <div class="wrapper">
          <v-textarea
            label="Введите сообщение"
            rows="1"
            auto-grow
            required
            v-model="textMessage">
          </v-textarea>
          <v-emoji-picker @append-e="append"/>
        </div>
      </v-flex>
      <v-flex>
        <v-btn color="primary" small @click="sendForm">
          <v-icon>send</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </form>
</div>
