<v-layout row class="list-message">
  <v-flex xs12>
    <v-card>
      <v-list ref="scrollList">
        <template v-for="(message, key) in listMessage">
          <v-list-item
            :key="`item${key}`"
            ripple
            v-if="message"
            :class="{'list-message__item': true, 'my-message': +userId === +message.user.id}"
          >
            <v-list-item-avatar>
              <img src="https://placeimg.com/40/40/people/1" alt="ava"/>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-subtitle v-html="userName(message)"/>
              <span class="list-message__text" v-html="message.text"/>
            </v-list-item-content>

            <v-list-item-action>
              <v-list-item-action-text>15 min</v-list-item-action-text>
            </v-list-item-action>
          </v-list-item>
          <v-divider
            v-if="key + 1 < listMessage.length"
            :key="key"
          />
        </template>
      </v-list>
    </v-card>
  </v-flex>
</v-layout>
