@import './colors';
@import './variables';

.v-application {

  a {
    color: lighten($d, 30%);
  }

  .v-list {
    .v-list-item {
      &:hover {
        background-color: rgba($c, .25);
      }
    }

    .v-list-item--active {
      background-color: $c;

      &::before {
        opacity: .08;
      }
      &:hover {
        background-color: $c;
      }
    }
  }

  .os-viewport {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
