@import 'variables/colors';
@import 'custom/vList';
@import 'custom/vNavigation';

.v-application {
  background: red !important;
  &.theme--dark {
    background: $darkPurple !important;
  }

  .v-toolbar.v-sheet,
  .v-tabs-bar {
    background-color: $lightPurple2 !important;
  }

  .v-tabs-items {
    background-color: transparent;
  }

  .v-sheet {
    background-color: $lightPurple;
    border-radius: 0;
  }

  .accent--text {
    color: $purple !important;
    caret-color: $purple !important;
  }
  .purple--text,
  .accent--text,
  .v-tabs-slider-wrapper {
    color: $purple !important;
    caret-color: $purple !important;
  }

}
